---
import CTA from "../components/CTA.astro";
import Filter from "../components/Filter.astro";
import Projects from "../components/Projects.astro";
import Heading from "../components/ui/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Ons Werk | Portfolio Web Design Projecten | Webmoov"
	description="Ontdek ons portfolio van maatwerk websites en succesvolle web development projecten. Van one-pager websites tot premium websites met CMS en e-commerce oplossingen. Bekijk onze realisaties en klantervaringen."
>
	<section class="section section-work flow" data-width="medium">
		<div class="container">
			<Heading>
				<h1 class="section-title">Ons Portfolio - Maatwerk Website Projecten</h1>
				<p class="subtitle">Ontdek onze web design en development projecten. Van one-pager websites tot premium websites met CMS en e-commerce oplossingen.</p>
			</Heading>
			<div class="filter-container">
				<Filter />
			</div>
		</div>
		<div class="container">
			<Projects />
		</div>
	</section>
	<CTA />
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.filter-container {
		margin-bottom: 2rem;
	}

	@media (width > 760px) {
		.filter-container {
			margin-bottom: 4rem;
		}
	}
</style>
