---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const projects = await getCollection('projects');
---

<Layout>
  <div style="padding: 2rem;">
    <h1>Debug Projects</h1>
    <pre>{JSON.stringify({ 
      totalProjects: projects.length,
      projects: projects.map(p => ({
        slug: p.slug,
        id: p.id,
        title: p.data.title
      }))
    }, null, 2)}</pre>
  </div>
</Layout> 