---
import Button from "./ui/Button.astro";
import Heading from "./ui/Heading.astro";
---

<section class="section background-brown-gradient" data-gap="medium">
  <div class="container flow" data-width="medium">
    <Heading>
      <h1 class="section-title text-high-contrast">Klaar om uw digitale aanwezigheid te transformeren?</h1>
      <p class="subtitle text-low-contrast">Laten we bespreken hoe we uw bedrijf kunnen laten groeien met een op maat gemaakte website.</p>
    </Heading>
    <Button label="Start het gesprek" hiddenLabel="over je project via ons contactformulier" href="#" />
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 11.25rem;
    padding-inline: 4rem;
    gap: 4.5rem;
  }
</style>