---
// No imports needed for basic image usage
---

<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a href="/" class="logo">
        <img src="/src/assets/logo.png" alt="webmoov logo" />
        <span>Webmoov</span>
      </a>
      <button aria-controls="primary-nav" aria-expanded="false">
        <span class="visually-hidden">Menu</span>
        <img src="/src/assets/hamburger.svg" alt="" />
      </button>
      <nav id="primary-nav" class="primary-navigation">
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/over-ons">Over Ons</a></li>
          <li><a href="#">Diensten</a></li>
          <li><a href="/ons-werk">Ons Werk</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .site-header {
    background-color: var(--background-main);
    height: 75px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--background-light-gray);
  }

  .site-header__inner {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
  }

  .logo img {
    height: 100px;
    width: auto;
  }

  .logo span {
    font-size: var(--font-size-regular);
    font-weight: 500;
    font-family: var(--ff-accent);
    color: var(--clr-black);
  }

  [aria-controls="primary-nav"] {
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  [aria-controls="primary-nav"] {
    display: none;
  }

  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      font-family: var(--ff-accent);
      font-size: var(--font-size-regular);
    }

    a {
      text-decoration: none;
      color: var(--text-body);
    }

    @media (width < 760px) {
      display: none;
      width: 35%;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      font-size: var(--font-size-lg);
      font-weight: 700;
      font-family: var(--ff-accent);
      background: var(--background-accent-dark);
      padding: 2rem;
      border-radius: 0 0 0 var(--border-radius);

      ul {
        gap: 0;
        flex-direction: column;
      }

      li + li {
        margin-block-start: 1.5rem;
        padding-block-start: 1.5rem;
        border-top: 2px solid var(--background-accent-light);
      }

      a {
        color: var(--clr-white);
      }
    }
  }

  @media (width < 760px) {
    [aria-controls="primary-nav"] {
      display: block;
    }
    [aria-expanded="true"] ~ .primary-navigation {
      display: block;
    }
  }
</style>

<script>
  const nav = document.querySelector('.primary-navigation');
  const navToggle = document.querySelector('[aria-controls="primary-nav"]');

  navToggle?.addEventListener("click", () => {
    const isNavOpened = navToggle.getAttribute("aria-expanded");
    if (isNavOpened === "false") {
      navToggle.setAttribute("aria-expanded", "true");
    } else {
      navToggle.setAttribute("aria-expanded", "false");
    }
  });
</script>