---
import Heading from "./ui/Heading.astro";
---

<section class="section hero">
  <div class="container">
    <Heading>
      <h1 class="section-title">Wij creëren maatwerk websites</h1>
      <p class="subtitle">
        Van eenvoudige landingspagina's tot complexe e-commerce oplossingen,
      wij bouwen websites die meegroeien met uw bedrijf.
      </p>
    </Heading>
    <a href="#" class="button">Ontdek onze diensten <span class="visually-hidden">die Webmoov aanbiedt om je website project te realiseren</span></a>
  </div>
</section>

<style>
  .hero {
    min-height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
  }
</style>