---
import Heading from './ui/Heading.astro';
import skincenterlogo from '../assets/skincenter-logo.svg';
import actionmakerlogo from '../assets/actionmaker-logo.svg';
---

<section class="section testimonials-section">
  <div class="container flow">
    <Heading>
      <h2 class="section-title">Klant ervaringen</h2>
      <p class="subtitle">Ontdek wat onze klanten over ons zeggen.</p>
    </Heading>
    <div class="equal-columns testimonial-cards">
      <article class="card">
        <div class="heading">
          <img src="src/assets/testimonial-avatar-1.jpg" alt="testimonial avatar" />
          <div class="heading__text">
            <h2 class="card__title">Anniek Lambrecht</h2>
            <p>Zaakvoerder</p>
          </div>
        </div>
        <div class="body">
          <blockquote>Fijne samenwerking met Anthony van Webmoov resulteerde in een mooie hippe website met bijhorende webshop. Service nadien blijft ook uitstekend, snel antwoord en interactie voor aanpassingen.</blockquote>
        </div>
        <footer>
          <img src={skincenterlogo.src} alt="skincenter logo" />
          <p>Skincenter Anniek Lambrecht</p>
        </footer>
      </article>
      <article class="card">
        <div class="heading">
          <img src="src/assets/testimonial-avatar-2.jpg" alt="testimonial avatar" />
          <div class="heading__text">
            <h2 class="card__title">Frederiek Troubleyn</h2>
            <p>Zaakvoerder</p>
          </div>
        </div>
        <div class="body">
          <blockquote>Voor de ontwikkeling van onze nieuwe teambuilding-website werkten we samen met Webmoov en we kunnen met volle overtuiging zeggen dat dit een topkeuze was!&#34;</blockquote>
        </div>
        <footer>
          <img src={actionmakerlogo.src} alt="skincenter logo" />
          <p>Action Maker</p>
        </footer>
      </article>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    padding-inline: 4rem;
    gap: 4.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    box-shadow: 2px 2px 48px 0px rgba(0, 0, 0, 0.15);
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
    

    img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }
  }

  .heading__text {
    font-family: var(--ff-accent);

    h2 {
      font-size: var(--font-size-regular);
      font-family: var(--ff-accent);
    }

    p {
      font-size: var(--font-size-sm);
    }
  }

  .body blockquote {
    font-size: var(--font-size-md);
    font-weight: 400;
    line-height: 1.5;
    text-wrap: balance;
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    p {
      font-size: var(--font-size-sm);
      font-family: var(--ff-accent);
    }

    img {
      border-radius: 0;
    }
  }
  
</style>