---
interface ButtonProps {
  label: string;
  hiddenLabel: string;
  href: string;
  class?: string;
  ["data-filter"]?: string;
  align?: 'left' | 'center' | 'right';
}

const { 
  label, 
  hiddenLabel, 
  href, 
  class: className, 
  "data-filter": dataFilter,
  align = 'center' 
} = Astro.props;
---

<button 
  type="button" 
  class={`button ${className || ''} align-${align}`}
  data-filter={dataFilter}
>
  {label} 
  <span class="visually-hidden">{hiddenLabel}</span>
</button>

<style>
    .button {
        display: block;
    }
    
    .align-center {
        margin-inline: auto;
    }
    
    .align-left {
        margin-right: auto;
    }
    
    .align-right {
        margin-left: auto;
    }
</style>