---
interface ButtonProps {
  label: string;
  hiddenLabel: string;
  href: string;
  class?: string;
  ["data-filter"]?: string;
}

const { label, hiddenLabel, href, class: className, "data-filter": dataFilter} = Astro.props;
---

<button 
  type="button" 
  class={`button ${className || ''}`}
  data-filter={dataFilter}
>
  {label} 
  <span class="visually-hidden">{hiddenLabel}</span>
</button>

<style>
    .button {
       margin-inline: auto;
    }
</style>