<div class="heading flow">
  <slot />
</div>

<style>
  .heading {
    padding-block-start: 2rem;
    padding-block-end: 4rem;
    @media (width > 760px) {
      margin-bottom: 3rem;
    }
    text-align: center;
  }
</style>