<div class="heading flow">
	<slot />
</div>

<style>
	.heading {
		padding-block-start: 0rem;
		padding-block-end: 3rem;
		@media (width > 760px) {
			margin-bottom: 3rem;
			padding-block-start: 2rem;
		}
		text-align: center;
	}
</style>
